*{
    background-color: black;
    box-sizing: border-box;
}
h2{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    font-size: 1rem;
    font-family: Avenir,sans-serif;
    
    
}

.dispositivos{
    
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    
    
}
.items{
    color: white;
    justify-content: center;
    font-family: Avenir,sans-serif;
}
.items p {
    text-align: center;
}
.items img{

    width: 50vh;
    justify-content: center;
    padding: 1%;
    
}

@media (min-width: 320px){
      h2 {
        align-items: center;
        justify-content: center;
     }
     .dispositivos{
        display: flex;

     }

     @media (min-width: 375px){
        h2 {
          align-items: center;
          justify-content: center;
          
       }
       @media (min-width: 425px){
        h2 {
          align-items: center;
          justify-content: center;  
       }
       @media (min-width: 768px){
        h2 {
          align-items: center;
          justify-content: center;
          
       }
}
